<div class="ed-footer hidden-print">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="ed-footer-left">
          DB2089/APP0 - ED Admin © Copyright <span ng-bind="main.currentYear"></span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="ed-footer-right">
          <span class="ed-footer-terms">Term 1, 2015 </span>
          <img src="assets/images/spgfooter.png" />
          <span class="ed-footer-school-name">Daramalan College</span>
        </div>
      </div>
    </div>
  </div>
</div>
