<div class="ed-hidden-menu animated fadeInLeft hidden-print" hidden-menu-close>
  <div class="ed-hidden-menu-inner-wrapper">
    <div ng-repeat="menuItem in main.menuItems track by $index" hidden-menu-element class="ed-hidden-menu-element ed-menu-element-{{menuItem.menuname}}" ng-class="{'active': main.$state.includes('index.{{menuItem.menuname}}')}">
      <a href="" title="{{menuItem.prodocname}}" ui-sref="index.{{menuItem.menuname}}">
        <ng-md-icon icon="{{menuItem.menuname}}" uib-dropdown-toggle></ng-md-icon>
        <span>{{menuItem.prodocname}}</span>
      </a>
    </div>
  </div>
</div>
