<nav class="navbar navbar-default navbar-fixed-top ed-navbar hidden-print" hidden-menu-close>
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="collapsed visible-xs-inline-block pull-right">
        <div uib-dropdown>
          <a href class="ed-profile-link" id="ed-profile-link-collapsed" uib-dropdown-toggle>
            <img alt="" src="assets/images/usr.png">
          </a>
          <ul class="ed-profile-dropdown-menu" aria-labelledby="ed-profile-link-collapsed" uib-dropdown-menu>
            <li>
              <a href> <i class="fa fa-user" name="user"></i> Profile </a>
            </li>
            <li>
              <a href> <i class="fa fa-cog" name="cog"></i> Settings </a>
            </li>
            <li>
              <a href ng-click="main.logout()"> <i class="fa fa-sign-out" name="sign-out"></i> Logout </a>
            </li>
          </ul>
        </div>
      </div>
      <a class="ed-navbar-logo" ui-sref="index.dashboard">
        <ng-md-icon icon="logo"></ng-md-icon>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right ed-navbar-nav">
        <li>
          <a href>
            <div class="ed-navbar-icon-wrap">
              <ng-md-icon icon="help-circle" size="20"></ng-md-icon>
            </div>
            <span>Need Help?</span>
          </a>
        </li>
        <li>
          <a href>
            <div class="ed-navbar-icon-wrap">
              <ng-md-icon icon="search" size="20"></ng-md-icon>
            </div>
          </a>
        </li>
        <li>
          <a href>
            <div class="ed-navbar-icon-wrap">
              <ng-md-icon icon="to_do" size="20"></ng-md-icon>
            </div>
          </a>
        </li>
        <li>
          <a href>
            <div class="ed-navbar-icon-wrap">
              <ng-md-icon icon="alarm" size="20"></ng-md-icon>
            </div>
            <span class="badge ed-navbar-badge">1</span>
          </a>
        </li>
        <li>
          <a href>
            <div class="ed-navbar-icon-wrap">
              <ng-md-icon icon="email" size="20"></ng-md-icon>
            </div>
            <span class="badge ed-navbar-badge">4</span>
          </a>
        </li>
        <li uib-dropdown>
          <a href class="ed-profile-link" id="ed-profile-link" uib-dropdown-toggle>
            <img alt="" src="assets/images/usr.png">
          </a>
          <ul class="ed-profile-dropdown-menu" aria-labelledby="ed-profile-link" uib-dropdown-menu>
            <li>
              <a href> <i class="fa fa-user" name="user"></i> Profile </a>
            </li>
            <li>
              <a href> <i class="fa fa-cog" name="cog"></i> Settings </a>
            </li>
            <li>
              <a href ng-click="main.logout()"> <i class="fa fa-sign-out" name="sign-out"></i> Logout </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
