<div class="ed-sidebar-wrapper hidden-print" ng-class="{'ed-sidebar-open': main.sidebarHover && main.sidebarDelay }" ng-mouseover="main.sidebarHover = true" ng-mouseleave="main.sidebarHover = false">
  <ul class="ed-sidebar-main-menu" id="ed-menu-slimscroll" slimscroll="{ height: 'calc(100vh - 115px)' }">
    <li ng-repeat="menuItem in main.menuItems track by $index" class="ed-menu-element-{{menuItem.menuname}}" ng-class="{'active': main.$state.includes('index.{{menuItem.menuname}}')}">
      <a href ui-sref="index.{{menuItem.menuname}}" title="{{menuItem.prodocname}}" ng-click="main.setSidebarHover()">
        <div class="ed-sidebar-menu-element">
          <span ng-bind="menuItem.prodocname"></span>
          <ng-md-icon icon="{{menuItem.menuname}}" size="30"></ng-md-icon>
          <!-- <img id="ed-img-{{menuItem.menuname}}" class="ed-svg" ng-src="assets/images/icons/modules/{{menuItem.menuname}}.svg" svg-content /> -->
        </div>
      </a>
    </li>
  </ul>
  <div class="ed-sidebar-menu-more" hidden-menu-activate>
    <a href title="More Options">
      <div class="ed-sidebar-menu-more-element">
        <span>Launchpad</span>
        <div class="ed-menu-more-icon">
          <ng-md-icon icon="add" size="20"></ng-md-icon>
          <span>More</span>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="ed-sidebar-backdrop" ng-class="{'ed-sidebar-open': main.sidebarHover && main.sidebarDelay }" ng-mouseover="main.setSidebarHover()"></div>
