<div class="table-responsive">
  <table class="ed-timetable">
    <thead>
      <tr>
        <th class="text-center">Days</th>
        <th ng-repeat="lesson in vm.lessons" class="text-center">
          <span>{{$index + 1}}</span>
          <div class="clearfix"></div>
          <span>{{lesson.from + '-' + lesson.to}}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in vm.eventsData">
        <td class="text-center" class="ed-day-title">{{days[$index]}}</td>
        <td ng-repeat="event in row track by $index" class="text-center" ng-style="{color: event.txtColor, background: event.bgColor}" colspan="{{event.duration}}">{{event.title}}</td>
      </tr>
    </tbody>
  </table>
</div>
