<div class="panel" ng-class="panelClass || 'panel-default'">
  <div id="{{::headingId}}" class="panel-heading" ng-click="toggleOpen()">
    <div class="panel-title">
      <div aria-controls="{{::panelId}}" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></div>
    </div>
  </div>
  <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
    <div class="panel-body" ng-transclude></div>
  </div>
</div>
