<div class="modal-header">
  <span class="close" ng-click="vm.cancel()" aria-hidden="true">×</span>
  <h3 class="modal-title">Crop Image</h3>
</div>
<div class="modal-body">
  <div class="cropArea" ng-style="{
      width: '100%',
      height: '400px'
    }">
    <img-crop image="vm.image" area-type="square" result-image="vm.croppedImage"></img-crop>
  </div>
</div>
<div class="modal-footer text-right">
  <button type="button" ng-click="vm.cancel()" class="btn btn-default">Cancel</button>
  <button type="button" ng-click="vm.accept()" class="btn btn-success">Save</button>
</div>
