html,
body,
a,
li,
ul,
input,
div,
h1,
h2,
span,
svg {
  outline: none;
}

@-ms-viewport {
  width: device-width;
}

html,
body {
  font-family: $font-family-sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label,
input,
textarea,
select {
  text-shadow: none;
}

textarea {
  resize: vertical;
}
