.ed-sidebar-wrapper {
  position: fixed;
  z-index: $zindex-navbar-fixed;
  top: $navbar-height;
  bottom: $sidebar-menu-more-height;
  left: - ($sidebar-element-text-width + $sidebar-element-padding-horizontal);

  transition: left .5s;

  @media (max-width: $screen-xs-max) {
    visibility: hidden;
  }

  &.ed-sidebar-close {
    left: - ($sidebar-element-text-width + $sidebar-element-padding-horizontal);
  }

  &.ed-sidebar-open {
    left: 0;
  }

  ng-md-icon {
    width: 30px;
    height: 30px;
  }

  img {
    display: none;
  }
}

.ed-sidebar-backdrop {
  position: fixed;
  z-index: $zindex-navbar-fixed - 1;
  top: $navbar-height;
  right: 0;

  width: 0;
  height: 0;

  content: '';
  transition: opacity .5s, width .1s .5s, height .1s .5s;

  opacity: 0;
  background: $sidebar-backdrop-color;

  &.ed-sidebar-open {
    width: 100vw;
    height: calc(100vh - #{$navbar-height});

    transition: opacity .5s;

    opacity: 1;
  }
}
