.ed-sidebar-menu-more {
  width: $sidebar-element-text-width + $sidebar-icon-width + $sidebar-element-text-margin-right + (2 * $sidebar-element-padding-horizontal);
  height: $sidebar-menu-more-height;

  text-decoration: none;

  background-color: $sidebar-more-background-color;

  & > a {
    @include clearfix;

    display: block;

    text-decoration: none;

    color: $light-text-color;
  }

  &:hover {
    @include svg-color($sidebar-text-hover-color);

    & > a {
      color: $sidebar-text-hover-color;

      span {
        color: $sidebar-text-hover-color;
      }
    }
  }

  .ed-sidebar-menu-more-element {
    padding: $sidebar-menu-more-padding-vertical $sidebar-menu-more-padding-horizontal;

    & > span {
      float: left;

      width: $sidebar-element-text-width;
      margin-top: 10px;

      color: $light-text-color;
    }
  }
}

.ed-menu-more-icon {
  @include svg-color($sidebar-icon-color);

  float: right;

  ng-md-icon {
    display: initial;

    width: auto;
    height: auto;
  }

  img,
  svg {
    display: block;

    width: 20px;
    height: 20px;
    margin: 0 auto 2px;
  }

  & > span {
    display: block;

    margin: 0 auto;
  }
}

.ed-menu-more-xs {
  @include svg-color($light-text-color);

  position: absolute;
  z-index: 1020;
  top: $navbar-height;
  left: 0;

  display: none;

  width: $sidebar-icon-width + (2 * $sidebar-element-padding-horizontal);

  background-color: $sidebar-more-background-color;

  @media (max-width: $screen-xs-max) {
    display: block;
  }

  & > a {
    line-height: 10px;

    display: table;

    height: $page-header-height;
    padding: $sidebar-menu-more-xs-padding-vertical $sidebar-menu-more-padding-horizontal;

    text-decoration: none;

    color: $light-text-color;
  }

  &:hover {
    @include svg-color($sidebar-text-hover-color);

    span {
      color: $sidebar-text-hover-color;
    }
  }

  .ed-menu-more-element {
    display: table-cell;

    vertical-align: middle;

    ng-md-icon {
      display: initial;

      width: auto;
      height: auto;
    }
  }

  img,
  svg {
    display: block;

    width: 16px;
    height: 16px;
    margin: 0 auto 3px;
  }
}
