.ed-content-title {
  font-weight: bold;

  margin: 6px 0 10px;

  color: $brand-primary;


  @media (max-width: $screen-xs-max) {
    font-size: $font-size-base;
  }
}

.ed-content-subtitle {
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-base-secondary;
  }
}
