$panel-heading-bg: #f5f5f5;
$panel-heading-opened: #ccd8e2;
$panel-heading-hover: #e6e6e6;

.ed-accordion {
  &.panel-open {
    .panel-heading {
      &,
      &:hover {
        background: $panel-heading-opened;
      }
    }
  }

  .panel-heading {
    cursor: pointer;
    transition: background .3s ease-in-out;

    background: $panel-heading-bg;

    &:hover {
      background: $panel-heading-hover;
    }

    select,
    input {
      transition: background .3s ease-in-out;

      background: $ed-simple-white;
    }

    .fa {
      font-size: $font-size-larger;
      line-height: 34px;

      cursor: pointer;

      color: $gray-middle-light;

      &.danger,
      &.danger-on-hover:hover {
        color: $brand-danger;
      }

      &.rotate-in {
        transition: transform .3s ease-in-out;
        transform: rotate(90deg);

        color: $ed-simple-black;
      }

      &.rotate-out {
        transition: transform .3s ease-in-out;
        transform: rotate(0deg);
      }
    }
  }
}

.ed-accordion-transparent {
  @extend .ed-accordion;
  &,
  &.panel-open {
    .panel-heading {
        padding: 0;
      &,
      &:hover {
        background: transparent;
      }
    }
  }

  .panel {
    box-shadow: none;
  }
}
