//
// Buttons
// --------------------------------------------------
// Base styles
// --------------------------------------------------
.btn {
  border: 0;
  outline: none;

  ng-md-icon {
    width: auto;
    height: auto;
  }

  &:hover,
  &:focus,
  &:active {
    transition: background ease .2s;

    border-color: transparent;
    outline: none;
    box-shadow: none;

    &:focus,
    &.active {
      transition: background ease .2s;

      border-color: transparent;
      outline: none;
      box-shadow: none;
    }
  }
}

// Alternate buttons
// --------------------------------------------------
.btn-default {
  &:active,
  &:active:focus,
  &:focus,
  &:hover {
    background-color: shade($btn-default-bg, 40%);
  }
}

// Success appears as green
.btn-success {
  &.active &:active,
  &:active:focus {
    background-color: $btn-success-bg;
  }

  &:focus,
  &:hover {
    background-color: tint($btn-success-bg, 15%);
  }
}

.btn-transparent {
  background: transparent;

  &.arrow {
    margin: 0 8px;
    padding-right: 0;
    padding-left: 0;

    color: tint($brand-primary, 30%);

    &:hover {
      color: $brand-primary;
    }
  }
}

.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-base-secondary, $line-height-small, $btn-border-radius-small);
}

.ed-btn-group {
  // margin-top: 8px;
  // margin-bottom: 8px;
  text-align: right;

  @media (max-width: $screen-xs-max) {
    text-align: center;

    .btn {
      margin: 2px 0;
    }
  }
}

.ed-btn-transparent {
  color: #5f5f5f;
  border: 0;
  background: transparent;

  &:active,
  &:focus,
  &:hover {
    color: $ed-simple-black;
    border: 0;
    outline: none;
    box-shadow: none;
  }

  &.ed-btn-white {
    background: $ed-simple-white;
  }
}

.ed-btn-text {
  cursor: default;
  pointer-events: none;
}
