.ed-dropdown {
  width: 100%;

  > .ed-dropdown-btn,
  > .dropdown-toggle {
    font-weight: normal;
    line-height: $line-height-small;

    overflow: hidden;

    width: 100%;
    height: $input-height-small;
    padding: 0 35px 0 15px;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: $input-color-placeholder;
    border: 0;
    background: #eee;
    box-shadow: none;

    &:hover,
    &:focus {
      box-shadow: none;
    }

    &:after {
      font-family: 'FontAwesome';
      font-size: $font-size-base-secondary;
      line-height: $line-height-small;

      position: absolute;
      right: 0;

      width: 24px;

      content: $arrow-down-icon;
    }

    &.ed-dropdown-btn-white {
      background: $ed-simple-white;
    }
  }
}

.ed-dropdown-menu {
  overflow: auto;

  width: 100%;
  max-height: $drodown-max-height;
  padding: 4px 0;

  border: 1px solid #c9c9c9;
  background: $gray-lighter;

  @media (max-width: $screen-xs-max) {
    max-height: $drodown-max-height-xs;
  }

  a {
    padding-left: 15px;
  }

  &.ed-dropdown-menu-white {
    border: 0;
    background: #f8f8f8;
  }

  &.ed-dropdown-menu-top {
    top: -2px;

    box-shadow: 0 0 18px rgba(50, 50, 50, .2);

    @media (max-width: $screen-md-max) {
      right: 0;
      left: initial;
    }
  }
}

.ed-dropdown-record {
  top: 40px;
}
