.ed-form-group {
  label,
  input,
  textarea,
  select,
  .checkbox {
    font-size: $font-size-base-secondary;

    box-shadow: none;
  }

  .checkbox {
    color: $gray-light;

    input {
      width: 14px;
      height: 14px;
      margin-top: 2px;
    }
  }

  .input-group-addon {
    padding: 8px;

    border: 1px solid $ed-main-border-color;
    border-left: 0;
  }

  .control-label {
    font-weight: normal;

    color: $gray-light;

    @media (min-width: $screen-lg-min) {
      padding-right: 0;
      padding-left: 0;
    }

    &.nowrap {
      white-space: nowrap;
    }
  }

  .ed-form-control {
    &.form-control {
      &:focus {
        box-shadow: none;
      }
    }
  }

  .ed-picker-input {
    position: relative;

    input {
      padding-right: 34px;
    }

    ng-md-icon {
      position: absolute;
      top: 8px;
      right: 0;

      pointer-events: none;
    }
  }
}

.ed-text-right-sm {
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
}

.ed-text-left-sm {
  @media (min-width: $screen-sm-min) {
    text-align: left;
  }
}

.ed-req {
  &:after {
    margin-left: 2px;

    content: '*';

    color: $brand-danger;
  }
}
.checkbox-inline + .checkbox-inline {
  margin-left: 0;
  padding-left: 18px;
  input {
    outline: none;
  }
}