.ed-input-sm {
  width: 100%;

  .form-control {
    // margin: 7.5px 0;
    padding: 0 15px;

    border: 0;
    outline: 0;
    box-shadow: none;
    // background: #eee;

    + .input-group-btn {
      .btn {
        // margin: 7.5px 0;
        padding: 0 7.5px;

        color: #5f5f5f;
        border: 0;
        background: $ed-simple-white;

        &:active,
        &:focus,
        &:hover {
          color: $ed-simple-black;
          border: 0;
          outline: none;
          // background: #eee;
          box-shadow: none;
        }

        &.ed-btn-white {
          background: $ed-simple-white;
        }
      }
    }
  }
}

.ed-input-grey {
  input {
    background: #eee;
  }
  .form-control {
    + .input-group-btn {
      .btn {
        padding: 0 7.5px;

        color: #999;
        border: 0;
        background: #eee;

        &:active,
        &:focus,
        &:hover {
          color: #5f5f5f;
          border: 0;
          outline: none;
          // background: #eee;
          box-shadow: none;
        }
      }
    }
  }
}
