.pagination {
  display: table;
  overflow-y: hidden;
  user-select: none;

  width: 100%;
  margin: 0;
  padding: 8px;

  background: #e6e6e6;

  li {
    display: table-cell;

    width: 20px;

    white-space: nowrap;

    background: transparent;

    &,
    &.active,
    &.disabled {
      > a {
        &,
        &:hover,
        &:active,
        &:focus,
        &:visited {
          z-index: 1;

          padding-right: 0;
          padding-left: 0;

          color: lighten($gray-base, 40%);
          border: 0;
          background: transparent;
        }
      }
    }

    &:first-child,
    &:last-child {
      a {
        font-size: $font-size-large;
        font-weight: bold;

        z-index: 1;

        margin-right: 8px;
        margin-left: 8px;
      }
    }

    &:first-child {
      float: left;

      a {
        float: left;
      }
    }

    &:last-child {
      float: right;

      a {
        float: right;
      }
    }

    &.active {
      > a {
        &,
        &:hover,
        &:focus {
          font-weight: bold;
        }
      }
    }
  }
}
