.ed-profile-dropdown-menu {
  &.dropdown-menu {
    min-width: 200px;
    margin: 0;
    padding: 0;

    list-style: none;

    border: 0;
    border-radius: $border-radius-base;
    outline: none;

    @media (max-width: $screen-xs-max) {
      margin-left: -110px;
    }

    li {
      margin: 0;
      padding: 0;

      list-style: none;

      a {
        font-size: $font-size-smaller;
        line-height: $line-height-base;

        position: relative;

        height: auto;
        padding: 10px 20px;

        background-color: transparent;

        &::before {
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;

          width: 0;
          height: 100%;

          content: '';
          transition: width ease .3s, border-radius ease .5s;

          border-radius: 0 50% 50% 0;
          background: $gray-lighter;
        }

        &:hover::before {
          width: 100%;

          border-radius: 0;
        }
      }

      &:first-child {
        text-transform: uppercase;

        background-color: $gray-lighter;
      }
    }

    i {
      margin-right: 16px;
    }
  }
}
