$block-width: 100%;
$block-height: 30px;


.ed-search-input {
  input {
    line-height: $block-height;

    position: relative;

    width: $block-width;
    height: $block-height;
    margin: 7.5px 0;
    padding: 0 15px;

    text-align: left;

    border: 0;
    outline: 0;
    box-shadow: none;

    &:focus {
      border: 0;
      outline: 0;
      box-shadow: none;
    }

    + .input-group-btn {
      .btn {
        line-height: $block-height;

        height: $block-height;
        margin: 7.5px 0;
        padding: 0 7.5px;

        color: $ed-simple-black;
        border: 0;
        background: $ed-simple-white;

        &:active,
        &:focus,
        &:hover {
          color: $ed-simple-black;
          border: 0;
          outline: none;
          background: $ed-simple-white;
          box-shadow: none;
        }
      }
    }
  }

  .ed-numeric-btn {
    cursor: default;
    pointer-events: none;
  }

  .ed-search-btn {
    font-size: $font-size-base-secondary;
  }
}
