$even-tr-bg: #f2f2f2;
$even-tr-hover-bg: #f5f5f5;

.ed-table {
  font-size: $font-size-base-secondary;

  border-top: 1px solid $ed-main-border-color;
  border-bottom: 1px solid $ed-main-border-color;
  background: $ed-simple-white;

  > thead,
  > tbody {
    border: 0;

    > tr {
      > th,
      > td {
        border: 0;
        border-left: 1px solid $ed-main-border-color;

        &:first-child {
          border-left: 0;
        }
      }

      > th {
        white-space: nowrap;

        border-bottom: 1px solid $ed-main-border-color;

        .fa {
          font-size: inherit;
          line-height: inherit;

          color: inherit;
        }
      }
    }
  }

  > tbody {
    > tr {
      &:nth-child(2n+1) {
        background: $even-tr-bg;
      }

      &:hover {
        background: $even-tr-hover-bg;
      }
    }
  }

  .cel-custom {
    width: 45px;
    height: 35px;

    text-align: center;
    vertical-align: middle;

    &.a-1 {
      background: white;
    }

    &.a-2 {
      background: purple;
    }

    &.a-3 {
      background: green;
    }

    &.a-4 {
      background: red;
    }

    &.a-5 {
      background: lime;
    }

    &.a-6 {
      background: brown;
    }

    &.a-7 {
      background: grey;
    }

    &.a-8 {
      background: pink;
    }

    &.a-9 {
      background: orange;
    }
  }

  input[type='checkbox'] {
    margin: 0;
  }

  .fa {
    font-size: $font-size-larger;

    cursor: pointer;

    color: $gray-middle-light;

    &.primary,
    &.primary-on-hover:hover {
      color: $brand-primary;
    }

    &.success,
    &.success-on-hover:hover {
      color: $brand-success;
    }

    &.info,
    &.info-on-hover:hover {
      color: $brand-info;
    }

    &.warning,
    &.warning-on-hover:hover {
      color: $brand-warning;
    }

    &.danger,
    &.danger-on-hover:hover {
      color: $brand-danger;
    }
  }
}

.ed-table-simple {
  @extend .ed-table;
  > tbody {
    > tr {
      &:nth-child(2n+1) {
        background: transparent;
      }

      &:hover {
        background: transparent;
      }

      > th,
      > td {
        border: 1px solid $ed-main-border-color;
      }
    }
  }

  @media print {
    > tbody ,
    > thead,
    > tfoot {
      tr, th {
        &.active {
          background-color: $gray-print!important;
          -webkit-print-color-adjust:exact;
          th, td {
            background-color: $gray-print!important;
            -webkit-print-color-adjust:exact;
          }
        }
      }
    }
  }

}
