.ed-menu-filter-term {
  line-height: 30px;

  float: right;

  height: 30px;
  margin-left: -7px;

  user-select: none;

  .ed-caret {
    padding: 4px;

    cursor: pointer;

    color: #999;

    &:hover {
      color: #555;
    }
  }

  .ed-dropdown-menu {
    text-align: center;

    .active {
      a {
        font-weight: bold;

        color: $brand-primary;
        background-color: $gray-lighter;

        &:active,
        &:active:focus,
        &:focus,
        &:hover {
          color: $brand-primary;
          background-color: $gray-lighter;
        }
      }
    }
  }

  .ed-active-term {
    font-size: $font-size-middle;
    font-weight: bold;

    padding: 0 5px;

    text-align: center;

    color: #666;

    .ed-term-text {
      padding: 0 5px;

      cursor: pointer;

      &:hover {
        color: #555;
      }
    }

    a {
      padding: 4px 10px;

      cursor: pointer;

      color: #666;

      &:active,
      &:active:focus,
      &:focus,
      &:hover {
        text-decoration: none;

        color: #555;
      }
    }
  }
}
