$login-btn-bg-hover: #4e4432;
$login-background-image: '/assets/images/loginBG.jpg';
$login-container-width: 260px;
$qa-login-container-width: 500px;

$sidebar-background-color: $brand-primary;
$sidebar-more-background-color: darken($sidebar-background-color, 9%);
$sidebar-icon-color: tint($sidebar-background-color, 50%);
$sidebar-text-hover-color: $brand-secondary;
$sidebar-element-text-width: 110px;
$sidebar-element-text-margin-right: 20px;
$sidebar-element-padding-vertical: 10px;
$sidebar-element-padding-horizontal: 20px;
$sidebar-icon-width: 30px;
$sidebar-font-size: 13px;
$sidebar-line-height: 17px;
$sidebar-menu-more-padding-vertical: 12px;
$sidebar-menu-more-xs-padding-vertical: 7px;
$sidebar-menu-more-padding-horizontal: 18px;
$sidebar-menu-more-height: 60px;
$sidebar-backdrop-color: rgba(0, 0, 0, .2);

$sidenav-width: 220px;

$footer-height: 22px;
$footer-background-color: #404040;
$footer-left-color: #919191;
$footer-right-color: darken($footer-left-color, 9%);

$page-header-height: 45px;
$page-header-text-color: #363f45;
$page-header-background-color: #c6c6c6;
$page-header-border-color: shade($page-header-background-color, 10%);

$page-subheader-background-color: tint($page-header-background-color, 80%);
$page-subheader-border-color: shade($page-subheader-background-color, 10%);

$arrow-down-icon: '\f078';
$drodown-max-height: 300px;
$drodown-max-height-xs: 200px;
